[hub]
	protocol = git
[user]
	name = Dan Ott
	email = danott@users.noreply.github.com
[credential]
	helper = osxkeychain
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[core]
	commentChar = ";"
	excludesfile = ~/.gitignore
	editor = vim
[apply]
[mergetool]
	keepBackup = false
[help]
	autocorrect = 1
[push]
	default = simple
[branch]
	autosetupmerge = true
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	co = checkout
	ca = commit -a
	l = pull
	p = push
	s = status
	pu = push-upstream
	d = difftool
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[diff]
	tool = Kaleidoscope
[pull]
	ff = only
[pager]
	branch = false
[init]
	defaultBranch = main
